@charset "UTF-8";
body .active_link {
  text-decoration: underline;
}
body main a, body header a {
  min-height: 44px;
  display: flex;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  color: white;
  line-height: 142%;
  padding: 5px 20px;
  text-align: center;
  transition: all 0.3s ease 0s;
  border-radius: 5px;
  margin: 10px 0;
  flex-wrap: nowrap;
  overflow: hidden;
}
body main a:hover, body header a:hover {
  transform: scale(1.1);
}
body main a.application, body header a.application {
  background: linear-gradient(135deg, rgba(255, 48, 26, 0.7) 25%, var(--color_for_logo) 25%, var(--color_for_logo) 50%, rgba(255, 48, 26, 0.7) 50%, rgba(255, 48, 26, 0.7) 75%, var(--color_for_logo) 75%, var(--color_for_logo)) 0 0;
  background-size: 50px 50px; /* Размер полосок */
  animation: stripes 1.5s infinite; /* Анимация полосок */
  /* Вы можете добавить дополнительное оформление кнопки здесь */
}
@keyframes stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 50px 50px; /* Размер полосок */
  }
}
body .a__buttons {
  min-height: 44px;
  display: flex;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  color: white;
  line-height: 142%;
  padding: 5px 20px;
  text-align: center;
  transition: all 0.3s ease 0s;
  border-radius: 5px;
  margin: 10px 0;
  flex-wrap: nowrap;
}
body .a__buttons.main_aplication {
  background-color: var(--color_for_logo);
  margin-right: 20px;
}
body .a__buttons.main_aplication:hover {
  transform: scale(1.1);
  border: 1px solid var(--color_for_logo);
  background-color: var(--color_header);
  color: var(--color_for_logo);
}
body .a__buttons.main_about {
  background-color: var(--color_header);
}
body .a__buttons.main_about:hover {
  transform: scale(1.1);
  border: 1px solid var(--color_for_logo);
  background-color: var(--color_header);
  color: var(--color_for_logo);
}
@media (max-width: 479px) {
  body .a__buttons {
    flex: 1 1 100%;
  }
  body .a__buttons.main_aplication {
    margin-right: 0px;
  }
}
body .menu__link {
  display: inline-block; /* Обеспечивает работу transform */
  transition: all 0.4s ease;
}
body .menu__link:hover, body .menu__link.active {
  text-decoration: underline;
  transform: scale(1.1);
  /* Применяем увеличение при наведении */
}
body .header__logo span {
  color: var(--color_for_logo);
}