@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
} */



input, textarea, select, button {
  font-size: 16px;
}

.container_form {
  display: flex;
  align-items: center;
  justify-content: center;
 
  /* min-height: 100vh; */
  padding: 100px 0px 100px 0px;
  background-color: var(--color_header);
}


@media (max-width: 992px) {
	.container_form {
    
    min-height: 100vh;
    padding: 20px 0px 20px 0px;

  }
}
.container_form .form {
  border-radius: 30px;
  background-color: var(--font);
  color: #fff;
  max-width: 360px;
  padding: 20px;
}
.form .title_form {
  color: var(--color_for_logo);
  font-size: 30px;
  font-weight: 600;
  padding-left: 30px;
  position: relative;
  display: flex;
  align-items: center;
}
.form .title_form::before {
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
}
.form .title_form::after {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  animation: animate 1s linear infinite;
}
.title_form::before,
.title_form::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: 0px;
  background-color: var(--color_for_logo);
}
/* Animation */
@keyframes animate {
  from {
        transform: scale(0.9);
        opacity: 1;
    }
  to {
        transform: scale(1.8) ;
        opacity: 0;
    }
}


.form .title-message,
.form .sign-in, .result-message{
  color: var(--color_for_text);
  font-size: 16px;
  font-weight: 400;
  margin: 26px 0px;
  text-align: center;
}

.result-message,.just-validate-error-label{
  margin-bottom: 10px;
  margin-left: 5px;
}


.success{
  color: green;
}
.error{
  color: red ;
  margin-bottom: 10px;
}

.form .flex {
  display: flex;
  gap: 8px;
  margin-top: 15px;
}
.form label input, textarea{

  color: var(--color_header);
  border: 1px solid var(--color_header);
  border-radius: 10px;
  font-size: 1rem;
  padding: 15px 8px 15px 8px;
  outline: 0;
  width: 100%;
  margin-bottom: 15px;
}
input::placeholder, textarea::placeholder {
  color:var(--color_header);
  font-size: 0.9rem;
}
.submit {
  
  width: 100%;
}
